{{#each blogDataClear}}
  <div class="comment">
  <p>{{comment_text}}</p>
  <p>Posted by {{user.user.name}} on {{dateFormat date_created "MMMM DD, YYYY h:mm A"}}</p>
</div>
{{/each}}



<script src="/js/comments.js"></script>
